
# Replace <server_ip> with your VPS backend host IP and <port> with the port your backend is running on
VITE_PUBLIC_SERVER_URL=https://api.teerusn.com/api/v1
VITE_PUBLIC_IMAGE_URL=https://api.teerusn.com